<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtapps.kingofthejungle">

    <application>

        <activity
            android:name="rtapps.app.ui.LoginActivity"
            android:theme="@style/AppThemeRTApps"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login"/>

        <activity
            android:name="rtapps.app.messages.AddMessageActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:parentActivityName="rtapps.app.ui.MainActivity"
            android:theme="@style/AppThemeRTApps.NoActionBar"/>

        <activity
            android:name="rtapps.app.catalog.UpdateCatalogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRTApps.NoActionBar"/>


        <activity
            android:name="rtapps.app.ui.ActivityPreviewMessage"
            android:screenOrientation="portrait"
            android:theme="@style/RTTransparent"/>


        <activity
            android:name="rtapps.app.ui.SelectTagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRTApps.NoActionBar"/>
    </application>

</manifest>
